{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titlename %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper rown">
            <div class="col s10 offset-s1">
                <a href="{% url 'park' %}" class="brand-logo">Drone For Everyone</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user' %}">{{ user.username }}</a> </li>
                    <li><a href="{% url 'park' %}">My Park</a> </li>
                    <li><a href="{% url 'request_history' %}">Request history</a></li>
                    <li><a href="{% url 'logout' %}">log out</a> </li>
                {% else %}
                    <li><a href="{% url 'login' %}">login</a> </li>
                    <li><a href="{% url 'signup' %}}">sign up</a> </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col s10 offset-s1">
            {% block content %}
            <p>Welcome to our service, where you can easy access your UAVs</p>
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/materialize.js' %}"></script>
</body>
</html>