{% extends 'base.html' %}
{% load static %}

{% block titlename %}
Drone
{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
    Model: {{ drone.model }}<br>
    Serial number: {{ drone.serial_number }}<br>
    Description: {{ drone.description }}<br>
    Manufacture date: {{ drone.manufacture_date }}<br>
    Registration date: {{ drone.registration_date }}<br>
    Status: {{ drone.status }}<br>
    Drone type: {{ drone.drone_type_id.type }}<br>
    <a class="waves-effect waves-light btn" href="{% url 'drone_update' drone.id %}">Update info</a>
    <a class="waves-effect waves-light btn" href="{% url 'create_request' drone.id %}">Ask for service</a>
{% endif %}
{% endblock %}