{% extends 'base.html' %}

{% block titlename %}
Request History
{% endblock %}


{% block content %}
<table class="centered striped">
    <thead>
        <tr>
            <th>Drone</th>
            <th>Drone Type</th>
            <th>Request description</th>
            <th>Request status</th>
        </tr>
    </thead>
    <tbody>
        {% for request in object_list %}
            <tr>
                <td>{{ request.drone_id.model }}</td>
                <td>{{ request.drone_id.drone_type_id }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}