{% extends 'base.html' %}
{% load static %}

{% block titlename %}
Request
{% endblock %}

{% block content %}

<h2>Request</h2>
<form method="POST">
    {% csrf_token %}
        {% for field in form %}
            <p>
                {% if not field.is_hidden %}
                    {{ field.label_tag }}<br>
                {% endif %}
                {{ field }}
            </p>
        {% endfor %}
<!--    <select name="request_type" id="request_type_id">-->
<!--        <option value="none">-&#45;&#45;&#45;&#45;None-&#45;&#45;&#45;&#45;</option>-->
<!--        <option value="repairing">Repairing</option>-->
<!--        <option value="part replace">Part Replace</option>-->
<!--        <option value="tech service">Tech Service</option>-->
<!--    </select>-->

<!--    <textarea>Enter Your request</textarea>-->

    <button class="btn waves-effect waves-light" type="submit">Request</button>
</form>
{% endblock %}