{% extends 'base.html' %}
{% load static %}

{% block titlename %}
Drone info update
{% endblock %}

{% block content %}
<h2>Drone info update</h2>
<form method="post">
    {% csrf_token %}
        {% for field in form %}
            <p>
                {% if not field.is_hidden %}
                    {{ field.label_tag }}<br>
                {% endif %}
                {{ field }}
            </p>
        {% endfor %}
    <button class="btn waves-effect waves-light" type="submit">Update</button>
</form>

{% endblock %}